.section {
  background: #e4e7e7;
  padding: 0;
}
.category-column {
  transition: flex-grow 0.3s, padding 0.3s;
}
.column:not(.category-column) {
  transition: opacity 0.4s;
}
.is-inactive {
  padding: 0;
  flex-grow: 0.00001;
  opacity: 0;
}
.category-column.is-inactive {
  opacity: 1;
  visibility: hidden;
}
.is-inactive .flat-card {
  display: none;
}
.tiny-label {
  font-size: 0.9rem;
  opacity: 0.8;
}
.column.left-border {
  border-left: 1px solid #dbdbdb;
}
.sidebar-column {
  background-color: #212121;
}
.sidebar {
  position: fixed;
  height: 100%;
  padding: 0.5rem 1.5rem;
  max-width: 200px;
}
.sidebar h2 {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}
.sidebar h3 {
  color: grey;
}
.flat-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: calc(100% - 300px);
}
.flat-tabs ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flat-tabs li {
  padding: 0.5em 0.5em;
}
.flat-tabs a {
  color: #8eb661;
  text-transform: uppercase;
  font-weight: 700;
}
.flat-tabs a.inactive {
  color: #494e50;
}
.listings {
  padding: 1em 0;
}
.listings .box {
  border-radius: 0;
}
