.section {
  background: #e4e7e7;
  padding: 0;
}
.category-column {
  transition: flex-grow 0.3s, padding 0.3s;
}
.column:not(.category-column) {
  transition: opacity 0.4s;
}
.is-inactive {
  padding: 0;
  flex-grow: 0.00001;
  opacity: 0;
}
.category-column.is-inactive {
  opacity: 1;
  visibility: hidden;
}
.is-inactive .flat-card {
  display: none;
}
.tiny-label {
  font-size: 0.9rem;
  opacity: 0.8;
}
.column.left-border {
  border-left: 1px solid #dbdbdb;
}
.sidebar-column {
  background-color: #212121;
}
.sidebar {
  position: fixed;
  height: 100%;
  padding: 0.5rem 1.5rem;
  max-width: 200px;
}
.sidebar h2, .topbar h2 {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}
.sidebar h3, .topbar h3 {
  color: grey;
}
.topbar h2, .topbar h3 {
  display: inline-block;
}
.topbar h3 {
  margin-left: 8px;
}
.topbar {
  padding: 1em 2em 0.5em;
  position: fixed;
  width: 100%;
  background-color: #212121;
  z-index: 99;
}
.more-indicator {
  position: fixed;
  height: 40px;
  width: 100px;
  right: 28px;
  top: 55px;
  padding: 0 8px;
  font-weight: 700;
  color: #8eb661;
  background: linear-gradient(to right, rgba(33, 33, 33, 0), rgba(33, 33, 33, 1));
}
.flat-tabs {
  display: flex;
}
.sidebar .flat-tabs {
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: calc(100% - 300px);
}
.topbar .flat-tabs {
  overflow-x: scroll;
  position: relative;
}
.topbar .flat-tabs ul {
  padding-right: 50px;
}
.flat-tabs ul {
  display: flex;
}
.sidebar .flat-tabs ul {
  flex-direction: column;
  justify-content: flex-start;
}
.flat-tabs li {
  padding: 0.5em 0.5em;
}
.flat-tabs a {
  color: #8eb661;
  text-transform: uppercase;
  font-weight: 700;
}
.flat-tabs a.inactive {
  color: #494e50;
}
.listings {
  padding: 1em 0;
}
.listings .box {
  border-radius: 0;
  margin-right: 10px;
}
.columns.hidden {
  padding-top: 100px;
}
.hidden .sidebar-column, .hidden.section{
  display: none;
}
.hidden .listings .box {
  margin-left: 10px;
}
